<section class="hero-section">
    <div class="text-section d-flex f-column justify-center">
        <div class="header">
            <h1>
                Make Your Tour Amazing With <span class="color-primary">Us</span>
            </h1>
        </div>
        <div class="mt-1 description">
            <p>
                {{ description }}
            </p>
        </div>
    </div>
    <div class="image-section">
        <img src="/assets/img/hero/hero-1.jpg" class="image-first" />
        <img src="/assets/img/hero/hero-2.jpg" class="image-second" />
    </div>
</section>