<app-header-section></app-header-section>
<app-line size="small"></app-line>
<app-hero-section></app-hero-section>
<app-line size="small"></app-line>
<app-features-section></app-features-section>
<app-line size="small"></app-line>
<app-testimonial-section></app-testimonial-section>
<app-line size="small"></app-line>
<app-contact-section></app-contact-section>
<app-line size="small"></app-line>
<app-toures-section></app-toures-section>
<app-companies-section></app-companies-section>
<app-footer-section></app-footer-section>