<section class="testimonial-section d-flex justify-center">
    <img src="/assets/img/testimonial/testimonial.jpg">
    <div class="quote bg-color-secondary-light-10">
        <div class="subqoute bg-color-secondary-light-15">
            <div class="d-flex justify-around">
                <h2>
                    - Best trip ever!
                </h2>
                <div>
                    <mat-icon *ngFor="let item of [].constructor(5);" class="color-primary">
                        star
                    </mat-icon>
                </div>
            </div>
            <blockquote class="mt-4 color-secondary">
                " {{ blockquote }} "
            </blockquote>
        </div>
    </div>
</section>