<section class="feature-section">
    <div class="cols">
        <div>
            <div class="d-flex">
                <h4>
                    You & Go &nbsp;
                </h4>
                <mat-icon class="logo color-primary" aria-hidden="false">
                    local_airport
                </mat-icon>
            </div>
            <div class="list mt-1">
                <p>First paragraph</p>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
            </div>
        </div>
        <div>
            <div class="list mt-1">
                <p>Second paragraph</p>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
            </div>
        </div>
        <div>
            <div class="list mt-1">
                <p>Third paragraph</p>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
            </div>
        </div>
    </div>
</section>