@use '/src/styles/theme.scss' as theme;

app-button {
    &:hover {
        cursor: pointer;
    }

    button {
        padding: 0.6rem 1rem;
        border: none;
        background-color: theme.$secondary-color;
        width: 100%;
        height: 100%;
        border-radius: 2px;

        &:hover {
            cursor: pointer;
            background-color: theme.get-light-color(theme.$secondary-color, 5);
        }

        &.primary {
            background-color: theme.$primary-color;
            color: white;
            border: none;

            &:hover {
                background-color: theme.get-light-color(theme.$primary-color, 10);
            }
        }
    }
}