<app-line size="small"></app-line>
<section class="companies-section d-flex">
    <div class="item">
        <img src="/assets/img/companies/booking.png">
    </div>
    <div class="item">
        <img src="/assets/img/companies/hotels.png">
    </div>
    <div class="item">
        <img src="/assets/img/companies/expedia.png">
    </div>
    <div class="item">
        <img src="/assets/img/companies/ebookers.png">
    </div>
    <div class="item">
        <img src="/assets/img/companies/travelocity.png">
    </div>
</section>
<app-line size="small"></app-line>