<div class="feature bg-color-secondary-light-15">
    <div class="d-flex align-center" [class.justify-around]="icon" [class.justify-center]="!icon">
        <h3>
            <ng-content select="[header]"></ng-content>
        </h3>
        <div *ngIf="icon" class="icon bg-color-primary">
            <mat-icon>
                {{ icon }}
            </mat-icon>
        </div>
    </div>

    <div class="content">
        <div class="body color-secondary">
            <ng-content select="[body]"></ng-content>
        </div>
    </div>
</div>