<section class="header-section d-flex">
    <div class="logo-section d-flex">
        <p>
            You & Go &nbsp;
        </p>
        <mat-icon class="logo color-primary" aria-hidden="false">
            local_airport
        </mat-icon>
    </div>
    <div class="help-section d-flex">
        <div class="help-item pointer">
            <p>
                About us
            </p>

        </div>
        <div class="help-item pointer">
            <p>
                Tours
            </p>
        </div>
        <div class="help-item call-item pointer color-primary">
            <strong>
                <p>
                    Book Now
                </p>

            </strong>
        </div>
    </div>
</section>